<!-- <button class="" (click)="logInWithGoogle()">
    Google Login
  </button> -->
  <button class="login-Btn" style="margin-left: 575px" (click)="logInWithGoogle()">
    Login with Google<img class="social-btn-icon" alt="Login with Google" src="https://hrcdn.net/fcore/assets/google-colored-20b8216731.svg">
  </button>
  