<h1 style="margin-left: 575px">....Welcome Admin....</h1>

<h3 style="margin-left: 575px"> ...List of All Users!!...</h3>
<button (click)="logOut()" style="margin-left: 350px">
    Logout
</button>
<div style="margin-left: 575px">
<table>
<tr>
<th><h3>Email</h3></th>
</tr>
<tr *ngFor="let item of userslist">
<td (click)="showtask(item)"><h4>{{item}}</h4></td>
</tr>
</table>
</div>