<div style="margin-left: 425px">
<h3>
    Tasks of User:- 
    {{name}}
</h3>

<ul *ngFor="let task of tasks "> 

       <li style="display: -webkit-box;" [ngClass]="(task.status==true) ? 'done' : ''">
    
       <h4>{{task.task}}</h4>
       </li>
</ul>
</div>