<h1 class="center">Welcome_User  </h1>
<h3 style="margin-left: 250px">{{user}}</h3>
<br>
<br>
<button (click)="logOut()" style="margin-left: 250px">
    Logout
    </button>
<div class="center">
<input type="text"#newTodo ><button (click)="add(newTodo.value) ; newTodo.value=''" >
    
    Add
    </button>
 
<br>
<br>
<!-- <table>
<tr>
    <th>Title</th>
    <th>Status</th>
    
</tr>
<tr *ngFor="let item of tasks">
<td [ngClass]="(item.status==true) ? 'done' : ''">{{item.task}}</td>

<td>{{item.status ? '&#10003;' :'&#10005;'}}</td> -->

 <ul *ngFor="let task of tasks">
      <li style="display: -webkit-box;" [ngClass]="(task.status==true) ? 'done' : ''">
        
        <h4>{{task.task}}</h4>

        <button style="margin-left: 50px;" (click)="done(task.task)">Done</button>


      </li>

 </ul>
</div>
