.social-btn-icon{
    height: 18px;
    margin-left: 17px;
    margin-bottom: -3px;
}

.login-Btn{
    margin-left: 44%;
    font-size: 15px;
    font-weight: bold;
    background-color: aliceblue;
    border: 2px solid black;
    height: 40px;
}.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }