<!-- <button class="btn btn-primary" (click)="signInWithGoogle()">
    Google Login
  </button>
  <form #signupform="ngForm" (ngSubmit)="signup(signupform.value)">
    <label class="radio-inline">
      <input ngModel type="radio" value="admin" name="admin" />As Admin
    </label>
    <br />
    <br />
    <label class="radio-inline">
      <input ngModel type="radio" value="user" name="user" />As User
    </label>
    <br /><br />
    <button class="btn btn-primary" type="submit">Submit</button>
  
  </form> -->
  <br /><br />
  <!-- <button *ngIf="user==''" style="margin-left: 250px" class="btn btn-primary" (click)="signInWithGoogle()">
    Google Signup
  </button> -->
  <button  *ngIf="user==''" class="login-Btn"  (click)="signInWithGoogle()">
    Signup with Google<img class="social-btn-icon" alt="Login with Google" src="https://hrcdn.net/fcore/assets/google-colored-20b8216731.svg">
  </button>
  <br />
  <br />

  <form *ngIf="user!=''" style="margin-left: 350px" #signupform="ngForm" (ngSubmit)="signup(signupform.value)">
    <label class="radio-inline">
      <input ngModel type="radio" value="admin" name="admin" />
      <h4>Sign Up As Admin</h4>
    </label>
  
    <label style="margin-left: 350px" class="radio-inline">
      <input ngModel type="radio" value="user" name="user" />
       
      <h4>Sign Up As User</h4>
  </label>
  <br/><br/>
  <button style="margin-left: 310px" class="btn btn-primary" type="submit">
    Submit
  </button>
</form>
